.DS_Store
/HarmonyApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/HarmonyApp.xcodeproj/project.xcworkspace/xcshareddata/HarmonyApp.xcscmblueprint
/HarmonyApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/HarmonyApp.xcodeproj/project.xcworkspace/xcshareddata/Prestige.xcscmblueprint
/HarmonyApp.xcodeproj/project.xcworkspace/xcuserdata/joelteply.xcuserdatad/UserInterfaceState.xcuserstate
/HarmonyApp.xcodeproj/xcshareddata/xcschemes/Builder.xcscheme
/HarmonyApp.xcodeproj/xcshareddata/xcschemes/CambrianDemo.xcscheme
/HarmonyApp.xcodeproj/xcshareddata/xcschemes/ColorPic.xcscheme
/HarmonyApp.xcodeproj/xcshareddata/xcschemes/HomeHarmony.xcscheme
/HarmonyApp.xcodeproj/xcshareddata/xcschemes/ShawDemo.xcscheme
/HarmonyApp.xcodeproj/xcuserdata/joelteply.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
